.piece {
  position:fixed;
}

body{
  position:fixed;
  background-color: black;
}

.added {
  margin-left: 80%;
  margin-top: 30%;
}

.added img{
  width: 100px;
  height: 100px;
}

.new-piece, .piece {
  position:fixed;
  width: 100px;
  height: 100px;
}

.rotate {
    -webkit-transform: translate(100px) rotate(20deg);
    -webkit-transform-origin: 0 -250px;

    transform: translate(100px) rotate(20deg);
    transform-origin: 0 -250px;
}

.transparency {
  opacity: .4;
}
